{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parserOptions": {
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"no-empty": "off",
		"no-case-declarations": "off",
		"no-inner-declarations": "off",
		"prefer-const": "off",
		"@typescript-eslint/no-this-alias": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/ban-ts-comment": "off",
		"no-prototype-builtins": "off",
		"no-mixed-spaces-and-tabs": "off",
		"@typescript-eslint/no-empty-function": "off",
		"@typescript-eslint/no-explicit-any": "off"
	}
}
